.toggler-reports {
    border: none;
    user-select: none;
    text-align: center;
    color: var(--navifation-btn-color);
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.1em;
    width: 220px;
    font-size: 18px;
    margin: 0 20px 0 20px;
}

.report-btn {
    margin: 3px 0px 3px;
    font-size: 17px;
    cursor: pointer;
}
    .report-btn:hover {
        color: var(--navifation-btn-active-color);
    }

    .report-btn,
    .report-btn:hover,
    .report-btn:active {
        outline: none !important;
    }


.navbar {
    padding: 0;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu.show {
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--navifation-btn-color);
    text-align: center;
    margin-left: -26px;
}

#report-info {
    color: var(--navifation-btn-color);
    font-size: 15px;
    margin-top: 2px;
}

#date {
    margin-top: 10px;
    margin-bottom: 15px;
}

#start-date, #end-date {
    margin: 0 5px 0px 5px;
    height: 28px;
    border-radius: 0.25rem;
    border-color: var(--border-color);
}

#order-by-date-btn {
    font-size: 16px;
    line-height: 10px;
    height: 28px;
    border-radius: 0.25rem;
    border-color: var(--border-color);
}



#dataViewer {
    display: flex;
}
    .table {
        margin: auto;
        font-size: 16px;
        letter-spacing: 0;
    }
        .table thead th {
            vertical-align: middle;
            flex-grow: 1;
        }

.accordion {
    background-color: var(--navabar-color);
    color: #000000;
    cursor: pointer;
    padding-left: 25px;
    width: 100%;
    height: 40px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
    line-height: 40px;
}

    .active, .accordion:hover {
        background-color: #a1a19d;
    }

    .accordion:after {
        content: '\002B';
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    color: #212121;
    background-color: #E6E6E1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.total-amount {
    border-top: 2pt solid black;
}

.city-sort, .total-money-sort,.address-sort,.manufacturer-sort,.model-sort, 
.price-sort, .category-sort, .count-of-products-sort, .quantity-sort,.total-price-sort {
    user-select: none;
}

.city-sort:hover,.total-money-sort:hover,.address-sort:hover,.manufacturer-sort:hover,
.model-sort:hover,.price-sort:hover,.category-sort:hover,.count-of-products-sort:hover,
.quantity-sort:hover,.total-price-sort:hover {
    cursor: pointer;
}

.pagination-select {
    position: absolute;
    right: 275px;
    width: 100px;
    display: flex;
}


.select-pagination {
    margin: 5px;
    color: var(--navifation-btn-color);
}









   
   
