body {
    letter-spacing: 0.1em;
}

.header {
    font-size: 42px;
}


.navbar {
    background-color: #f8f9fa;
    padding: 0;
}

    .navabar-content {
        display: flex;
        margin-bottom: -0.5rem;
        margin-top: -0.5rem;
        flex-grow: 1;
        align-items: center;
    }

        .toggler-reports {
            border: none;
            user-select: none;
            text-align: center;
            color: black;
            cursor: pointer;
            user-select: none;
            letter-spacing: 0.1em;
        }

        .report-btn {
            margin: 3px 0px 3px;
            font-size: 15px;
            cursor: pointer;
        }

            .report-btn:hover {
                font-weight: bold;
            }

            .report-btn,
            .report-btn:hover,
            .report-btn:active {
                outline: none !important;
            }
        .navbar-nav .dropdown-menu {
            position: absolute;
        }


        .search-form {
            margin-top: 0;
            margin-left: auto;
            margin-bottom: 0;
        }

        .search-text {
            width: 150px;
            height: 28px;
            margin-right: 0.5rem;
        }

        .search-btn {
            padding: 2px;
            font-size: 14px;
            margin-bottom: 0;
            margin-top: 0;
            color: #28a745;
            border-color: #28a745;
        }

#date {
    margin-top: 10px;
    margin-bottom: 15px;
}

    #startDate, #endDate, #orderByDate-btn {
        margin: 4px 5px 0px 5px;
        height: 20px;
        padding: 0;
    }

    #orderByDate-btn {
        font-size: 16px;
        line-height: 10px;
    }



#dataViewer {
    display: flex;
}
    .table {
        margin: auto;
        font-size: 16px;
        letter-spacing: 0;
    }

        .table thead th {
            vertical-align: middle;
            flex-grow: 1;
        }








   
   
