.toggler-reports {
    border: none;
    user-select: none;
    text-align: center;
    color: var(--navifation-btn-color);
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.1em;
    width: 220px;
    font-size: 18px;
    margin: 0 20px 0 20px;
}

.report-btn {
    margin: 3px 0px 3px;
    font-size: 17px;
    cursor: pointer;
}
    .report-btn:hover {
        color: var(--navifation-btn-active-color);
    }

    .report-btn,
    .report-btn:hover,
    .report-btn:active {
        outline: none !important;
    }

.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu.show {
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--navifation-btn-color);
    text-align: center;
    margin-left: -26px;
}

#report-info {
    color: var(--navifation-btn-color);
    font-size: 15px;
    margin-top: 2px;
}

#date {
    margin-top: 10px;
    margin-bottom: 15px;
}

    #startDate, #endDate, #orderByDate-btn {
        margin: 4px 5px 0px 5px;
        height: 20px;
        padding: 0;
    }

    #orderByDate-btn {
        font-size: 16px;
        line-height: 10px;
    }



#dataViewer {
    display: flex;
}
    .table {
        margin: auto;
        font-size: 16px;
        letter-spacing: 0;
    }
        .table thead th {
            vertical-align: middle;
            flex-grow: 1;
        }








   
   
