/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    letter-spacing: 0.1em;
}

.header {
    font-size: 42px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navabar-content {
    display: flex;
    height: 46px;
    background-color: var(--navabar-color);
    padding: 0;
}

.search-form {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
}

.search-text {
    width: 150px;
    height: 28px;
    margin-right: 0.5rem;
}

.search-text:hover,
.search-text,
.search-text:active {
    outline: none !important;
}

.search-btn {
    padding: 2px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--search-color);
    border-color: var(--search-color);
}

.search-btn:hover {
    color: var(--search-hover-color);
    border-color: var(--search-hover-color);
}


#date {
    display: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
