@{
    ViewData["Title"] = "Report Controller";
}

<div class="text-center">
    <h1 class="header">WebStore Reports</h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-2">
            <div class="toggler-reports">
                <div class="navbar navbar-light light-blue lighten-4">
                    <button class="reports-main-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                        <div>Reports</div>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                        <ul class="navbar-nav mr-auto ">
                            <li class="report-btn active">
                                <a id="moneyInCity-btn">Money In City <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="report-btn">
                                <a id="bestSellingProduct-btn">Best Selling</a>
                            </li>
                            <li class="report-btn">
                                <a id="inWareHouseAbsentMscSpb-btn">In Warehouse</a>
                            </li>
                            <li class="report-btn">
                                <a id="categoryWithFiveAndMoreProducts-btn">Category With 5+ Prod</a>
                            </li>
                            <li class="report-btn">
                                <a id="soldOutProduct-btn">SoldOut</a>
                            </li>
                            <li class="report-btn">
                                <a id="noOrderedProduct-btn">No Ordered</a>
                            </li>
                            <li class="report-btn">
                                <a id="showCalendar-btn">Order By Date</a>
                            </li>
                            <li class="report-btn">
                                <a id="salesByWorldAndRF-btn">Sales By World And RF</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-10">
            <div id="date">
                <div class="d-flex justify-content-end">
                    StartDate:
                    <input id="startDate" type="date" name="startDate" value="2014-01-01" max="2016-12-31" min="2012-01-01">
                    EndDate:
                    <input id="endDate" type="date" name="endtDate" value="2018-01-01" max="2017-01-01" min="2019-12-31">
                    <input id="orderByDate-btn" value="Get Order" type="button">
                </div>
            </div>
            <div id="dataViewer">
            </div>
        </div> 
    </div>  
</div>

<script src="~/js/reports.js"></script>
