@{
    ViewData["Title"] = "Report Controller";
}

<div class="text-center">
    <h1 class="header">WebStore Reports</h1>
</div>


<nav class="navbar">
    <div class="navbar-collapse navabar-content" id="navbarSupportedContent">
        <ul class="navbar-nav p-2">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle toggler-reports" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="report-btn">
                        <a id="moneyInCity-btn">Money In City <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="report-btn">
                        <a id="bestSellingProduct-btn">Best Selling</a>
                    </div>
                    <div class="report-btn">
                        <a id="inWareHouseAbsentMscSpb-btn">In Warehouse</a>
                    </div>
                    <div class="report-btn">
                        <a id="categoryWithFiveAndMoreProducts-btn">Category With 5+ Prod</a>
                    </div>
                    <div class="report-btn">
                        <a id="soldOutProduct-btn">SoldOut</a>
                    </div>
                    <div class="report-btn">
                        <a id="noOrderedProduct-btn">No Ordered</a>
                    </div>
                    <div class="report-btn">
                        <a id="showCalendar-btn">Order By Date</a>
                    </div>
                    <div class="report-btn">
                        <a id="salesByWorldAndRF-btn">Sales By World And RF</a>
                    </div>
                </div>
            </li>
        </ul>
        <output id="report-info" class="nav-link p-2">Report-info</output>
        <form class="form-inline search-form p-2">
            <input class="form-control search-text" type="search" placeholder="Search" aria-label="Search">
            <button class="btn search-btn" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="content">
    <div id="date">
        <div class="d-flex justify-content-end">
            StartDate:
            <input id="startDate" type="date" name="startDate" value="2014-01-01" max="2016-12-31" min="2012-01-01">
            EndDate:
            <input id="endDate" type="date" name="endtDate" value="2018-01-01" max="2017-01-01" min="2019-12-31">
            <input id="orderByDate-btn" value="Get Order" type="button">
        </div>
    </div>
    <div id="dataViewer">
    </div> 
</div>

<script src="~/js/reports.js"></script>
