@{
    ViewData["Title"] = "Report Controller";
}

<div class="text-center">
    <h1 class="display-4">WebStore Reports</h1>
</div>


<input id="moneyInCity" value="MoneyInCity" type="button">
<input id="bestSellingProduct" value="BestSelling" type="button">
<input id="inWareHouseAbsentMscSpb" value="InWareHouseAbsentMscSpb" type="button">
<input id="categoryWithFiveAndMoreProducts" value="CategoryWithFiveAndMoreProducts" type="button">
<input id="soldOutProduct" value="SoldOutProduct" type="button">
<input id="noOrderedProduct" value="NoOrderedProduct" type="button">
<input id="openCalendar" value="OrderByDate" type="button">
<br />
<div id="date">
    StartDate: 
    <input id = "startDate" type="date" name="startDate" value="2014-01-01" max="2016-12-31" min="2012-01-01">
    EndDate: 
    <input id = "endDate" type="date" name="endtDate" value="2018-01-01" max="2017-01-01" min="2019-12-31">
    <input id="orderByDate" value="GetOrder" type="button">
</div>

<div id="DateTable"></div>

<script src="~/js/reports.js"></script>
