@{
    ViewData["Title"] = "Report Controller";
}

<div class="text-center">
    <h1 class="header">WebStore Reports</h1>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @*<li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>*@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle report-btn " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="report-btn">
                        <a id="moneyInCity-btn">Money In City <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="report-btn">
                        <a id="bestSellingProduct-btn">Best Selling</a>
                    </div>
                    <div class="report-btn">
                        <a id="inWareHouseAbsentMscSpb-btn">In Warehouse</a>
                    </div>
                    <div class="report-btn">
                        <a id="categoryWithFiveAndMoreProducts-btn">Category With 5+ Prod</a>
                    </div>
                    <div class="report-btn">
                        <a id="soldOutProduct-btn">SoldOut</a>
                    </div>
                    <div class="report-btn">
                        <a id="noOrderedProduct-btn">No Ordered</a>
                    </div>
                    <div class="report-btn">
                        <a id="showCalendar-btn">Order By Date</a>
                    </div>
                    <div class="report-btn">
                        <a id="salesByWorldAndRF-btn">Sales By World And RF</a>
                    </div>
                </div>
</li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="content">
    <div id="date">
        <div class="d-flex justify-content-end">
            StartDate:
            <input id="startDate" type="date" name="startDate" value="2014-01-01" max="2016-12-31" min="2012-01-01">
            EndDate:
            <input id="endDate" type="date" name="endtDate" value="2018-01-01" max="2017-01-01" min="2019-12-31">
            <input id="orderByDate-btn" value="Get Order" type="button">
        </div>
    </div>
    <div id="dataViewer">
    </div> 
</div>

<script src="~/js/reports.js"></script>
