@{
    ViewData["Title"] = "Product Controller";
}
    <div class="text-center">
        <h1 class="header">@ViewData["Title"]</h1>
    </div>
    <nav class="navbar">
        <div class="navbar-collapse navabar-content" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row">
                <li class="nav-item p-2" id="product-get-del-method-btn">
                    <a class="product-method-btn" href="#">Get/Delete</a>
                </li>
                <li class="nav-item p-2" id="product-post-method-btn">
                    <a class="product-method-btn" href="#">Post</a>
                </li>
                <li class="nav-item p-2" id="product-update-method-btn">
                    <a class="product-method-btn" href="#">Update</a>
                </li>
                <li class="nav-item p-2">
                    <a class="product-method-btn" href="#">Search(in features)</a>
                </li>
            </ul>
            <form class="form-inline search-form p-2">
                <input id="search-area" class="form-control search-text" onSubmit="return false;" type="text" placeholder="Search" aria-label="Search">
                <button id="search-btn" type="button">Search</button>
            </form>
        </div>
    </nav>

    <div id="product-data">
        <div id="product-get-by-id-data">
            <span class="product-input-info">ProductId: </span>
                <input id="product-id" type="text" class="product-input-data" name="productId">
            <button id="get-by-id-btn">Get</button>
            <button id="delete-by-id-btn">Delete</button>
        </div>
        <div id="product-post-data">
            <p><span class="product-input-info">Manufacturer: </span>
                <input id="post-manufacturer" class="product-input-data" type="text" name="Manufacturer"></p>
            <p><span class="product-input-info">Model: </span>
                <input id="post-model" class="product-input-data" type="text" name="Model"></p>
            <p><span class="product-input-info">Price: </span>
                <input id="post-price" class="product-input-data" type="text" name="Price"></p>
            <p><span class="product-input-info">Subcategory: </span>
                <input id="post-sub-category" class="product-input-data" type="text" name="Subcategory"></p>
            <button id="post-btn" class="product-call-method-btn">Post</button>
        </div>
        <div id="product-update-data">
            <p><span class="product-input-info">Id: </span> 
                <input id="update-id" class="product-input-data" type="text" name="Id"></p>
            <p><span class="product-input-info">Manufacturer: </span>
                <input id="update-manufacturer" class="product-input-data" type="text" name="Manufacturer"></p>
            <p><span class="product-input-info">Model: </span>
                <input id="update-model" type="text" class="product-input-data" name="Model"></p>
            <p><span class="product-input-info">Price: </span>
                <input id="update-price" type="text" class="product-input-data" name="Price"></p>
            <p><span class="product-input-info">Subcategory: </span>
                <input id="update-subcategory" class="product-input-data" type="text" name="Subcategory"></p>
            <button id="update-btn" class="product-call-method-btn">Update</button>
        </div>
    </div>

    <div id="product-data-viewer"></div>
    <script src="~/js/product/product-animate.js"></script>
    <script src="~/js/product/product-create-table.js"></script>
    <script src="~/js/product/product-data.js"></script>
    <script src="~/js/product/product-init.js"></script>

