@{
    ViewData["Title"] = "Report Controller";
}

<div class="text-center">
    <h1 class="header">WebStore Reports</h1>
</div>

<nav class="navbar">
    <div class="navbar-collapse navabar-content" id="navbarSupportedContent">
        <ul class="navbar-nav p-2">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle toggler-reports" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="report-btn">
                        <a id="money-in-city-btn">Money In City <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="report-btn">
                        <a id="best-selling-product-btn">Best Selling</a>
                    </div>
                    <div class="report-btn">
                        <a id="in-warehouse-absent-msc-spb-btn">In Warehouse</a>
                    </div>
                    <div class="report-btn">
                        <a id="category-with-five-and-more-products-btn">Category With 5+ Prod</a>
                    </div>
                    <div class="report-btn">
                        <a id="sold-out-product-btn">SoldOut</a>
                    </div>
                    <div class="report-btn">
                        <a id="no-ordered-product-btn">No Ordered</a>
                    </div>
                    <div class="report-btn">
                        <a id="show-calendar-btn">Order By Date</a>
                    </div>
                    <div class="report-btn">
                        <a id="sales-by-world-and-rf-btn">Sales By World And RF</a>
                    </div>
                </div>
            </li>
        </ul>
        <output id="report-info" class="nav-link p-2">Report-info</output>
        <form class="form-inline search-form p-2">
            <input id="search-area" class="form-control search-text" onSubmit="return false;" type="text" placeholder="Search" aria-label="Search">
            <button id="search-btn" type="button">Search</button>
        </form>
    </div>
</nav>

<div class="content">
    <div id="date">
        <div class="d-flex justify-content-end">
            <span>StartDate: </span>
            <input id="start-date" type="date" name="startDate" value="2014-01-01">
            <span>EndDate: </span>
            <input id="end-date" type="date" name="endtDate" value="2018-01-01">
            <button id="order-by-date-btn">Get Order</button>
        </div>
    </div>
    <div id="data-viewer">
    </div>
</div>

<script src="~/js/report/reports-animate.js"></script>
<script src="~/js/report/reports-create-table.js"></script>
<script src="~/js/report/reports-data.js"></script>
<script src="~/js/report/reports-init.js"></script>
